# Created by https://www.toptal.com/developers/gitignore/api/python,node,django
# Edit at https://www.toptal.com/developers/gitignore?templates=python,node,django

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media
node_modules/

.env

migrations/

