@import "tailwindcss";

@theme {
	--color-brand: #0084d7ff;
	--default-font-family: "Inter", sans-serif;
}

@utility container {
	@apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
}

@utility badge {
	@apply text-sm border border-brand/20 text-gray-400 rounded-full py-0.5 px-2;
}

.marquee-swiper .swiper-slide {
	width: auto; /* enable 'auto' widths per slide */
}

@layer base {
	body {
		background-color: #1a1f24;
		color: white;
		--color: #181818;
		background-attachment: fixed;

		background-image: linear-gradient(
				0deg,
				transparent 24%,
				var(--color) 25%,
				var(--color) 26%,
				transparent 27%,
				transparent 74%,
				var(--color) 75%,
				var(--color) 76%,
				transparent 77%,
				transparent
			),
			linear-gradient(
				90deg,
				transparent 24%,
				var(--color) 25%,
				var(--color) 26%,
				transparent 27%,
				transparent 74%,
				var(--color) 75%,
				var(--color) 76%,
				transparent 77%,
				transparent
			);
		background-size: 18px 18px;
	}

	.content-area {
		-ms-overflow-style: none; /* IE, Edge */
		scrollbar-width: none; /* Firefox */
	}
	.content-area::-webkit-scrollbar {
		display: none; /* Chrome, Safari */
	}
	* {
		scroll-behavior: smooth;
	}
}

.form-input input,
.form-input textarea {
	@apply w-full rounded-xl border backdrop-blur-md border-slate-700 px-4 py-3 text-sm focus:outline-none focus:ring-2 focus:ring-brand/60 focus:border-brand ring-brand/60;
}

.chip {
	@apply px-2.5 py-1 text-xs rounded-full bg-white/10 text-slate-200 ring-1 ring-white/10;
}

@theme {
	--shadow-glow: 0 10px 40px -10px rgba(56, 189, 248, 0.35);
}
