<div class="my-16">
    <div class="grid lg:grid-cols-2 gap-16 items-start">

        <h1 class="text-[6vmax] leading-tight font-extrabold">
            Shaping Raw data into intelligece.
        </h1>

        <div class="space-y-8">
            <p class="max-w-prose text-lg">
                DataForge — We empower businesses to optimize workflows, connect with the right
                audience,
                and
                scale effectively through
                our specialized services in data, virtual assistance, customer support, marketing, and
                development.
            </p>
            <div class="flex flex-wrap gap-3">
                <a href="#contact"
                    class="inline-flex items-center rounded-lg bg-brand px-5 py-3 text-white font-semibold shadow hover:bg-brand">
                    Get Free Consulation
                </a>
            </div>
            <ul class=" grid grid-cols-2 gap-3 text-xs ">
                <li class="flex items-center gap-2"><span class="size-2.5 rounded-full bg-brand shrink-0"></span>
                    Contact Sourcing, Lead Generation</li>
                <li class="flex items-center gap-2"><span class="size-2.5 rounded-full bg-brand shrink-0"></span>
                    Project Management, Administrative Assitant</li>
                <li class="flex items-center gap-2"><span class="size-2.5 rounded-full bg-brand shrink-0"></span>
                    Customer Service, Live Chat, Email Support</li>
                <li class="flex items-center gap-2"><span class="size-2.5 rounded-full bg-brand shrink-0"></span>
                    Social Media Management, Content Creation, Digital Marketing</li>
            </ul>
        </div>
    </div>
</div>