<div class="border border-gray-700 rounded-2xl p-4">
    <div class="flex gap-2">
        <span class="bg-red-500 size-3 rounded-full"></span>
        <span class="bg-yellow-500 size-3 rounded-full"></span>
        <span class="bg-green-500 box size-3 rounded-full"></span>
    </div>
    <div class="mt-4">
        <div class="rounded-xl overflow-hidden h-48">
            <img src="{{ services.image.url }}" class="size-full object-cover object-center" />
        </div>
        <div>
            <p class="text-xs text-gray-300 mt-0.5 capitalize">{{services.tags}}</p>
            <p class="mt-1 font-semibold text-lg capitalize">{{services.title}}</p>
        </div>
    </div>
</div>